<div class="row" style="margin-top: 10px;">
  <div class="container">

    <header>
      <div class="box-titulo">
        <div class="row">
          <div class="col-md-12"></div>
        </div>
      </div>
    </header>

    <div class="panel panel-default" *ngIf="lote">
      <div class="panel-heading" style="padding: 0px; border-bottom-color: rgb(180, 15, 119); border-bottom-width: 2px; border-bottom-style: solid;">
        <div class="row">

          <div class="col-md-12">
            <section class="row" style="margin: 15px;">
              <div class="col-md-3">
                <div class="row" style="margin-left: 15px;">
                  <div>
                    <span style="color: rgb(0, 164, 228); font-weight: bolder;">
                      Arquivo
                    </span>
                    <br>
                    <span>{{ lote.ds_lote_nome_arquivo }}</span>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="row" style="margin-left: 15px;">
                  <div>
                    <span style="color: rgb(0, 164, 228); font-weight: bolder;">
                      Usuário
                    </span>
                    <br>
                    <span>{{ lote.ds_nome_usuario }}</span>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="row" style="margin-left: 15px;">
                  <div>
                    <span style="color: rgb(0, 164, 228); font-weight: bolder;">
                      Data Alteração
                    </span>
                    <br>
                    <span>{{ lote.dt_lote_ultima_posicao | date: 'dd/MM/yyyy' }}</span>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="row" style="margin-left: 15px;">
                  <div>
                    <span style="color: rgb(0, 164, 228); font-weight: bolder;">
                      Status
                    </span>
                    <br>                    
                    <span class="label" [style.background-color] = "lote.ds_lote_sub_status_cor"> {{ lote.ds_lote_sub_status }} </span>                    
                  </div>
                </div>
              </div>              
            </section>
          </div>
        </div>

      </div>

      <div class="panel-body">
        <br>
        <div class="large-screen">
          <h3 class="titulo-sub-lotes col-12">Sinistros</h3>

          <div class="form-group col-md-12" *ngIf="lote.mensagensLote && lote.mensagensLote.length > 0">
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <h5 class="form-divide">Mensagens</h5>
                  <div *ngFor="let msg of lote.mensagensLote">
                    <blockquote>
                      <div>
                        <p style="font-size: 14px;">{{ msg.ds_lote_mensagem_carga }}</p>
                      </div>
                    </blockquote>                    
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="table-wrapper">            
            <div class="row">
              <div class="col-md-12"
                   *ngIf="(!sinistros || sinistros.length == 0) && !pesquisandoGif"
                   style="text-align: center; margin-bottom: 20px;">
                <h3>Nenhum registro localizado</h3>
              </div>

              <table class="table table-striped" style="margin: 2% 2% 2% 2%" *ngIf="sinistros && sinistros.length > 0">
                <thead>
                  <tr>
                    <th>Sinistro</th>
                    <th>Sub Sinistro</th>
                    <th>Tipo Reserva</th>
                    <th>Forma Pagto</th>
                    <th>Parcial/Final</th>
                    <th>Pagto Comercial</th>
                    <th>Valor</th>
                    <th>Moeda</th>
                    <th>Beneficiário</th>
                    <th>Data</th>
                    <th>Cobertura</th>
                    <th>Restrição PEP</th>
                    <th>Pagamento eBao Liberado</th>
                    <th>Pagamento Processado eBao</th>
                    <th>Possui erro</th>
                    <th>Nº Pagto</th>
                    <th>Mensagem processamento </th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let sin of sinistros">
                    <td>{{ sin.ds_sinistro_lote_numero_sinistro }}</td>
                    <td>{{ sin.ds_sinistro_lote_numero_subsinistro }}</td>
                    <td>
                      <div style="width: 150px;">
                        {{ sin.cobertura.tipoCoberturaReserva.ds_cobertura_reserva_tipo_descricao }}
                      </div>
                    </td>
                    <td>
                      <div style="width: 150px;">
                        {{ sin.tipoFormaPagamento.ds_sinistro_lote_forma_pagamento_descricao }}
                      </div>
                    </td>
                    <td>{{ sin.cobertura.tipoCobertura.ds_cobertura_tipo_descricao }}</td>
                    <td>{{ sin.cobertura.ic_cobertura_sinistro_lote_pagamento_comercial }}</td>
                    <td>{{ sin.cobertura.dc_cobertura_sinistro_lote_valor }}</td>
                    <td>{{ sin.tipoMoeda.ds_sinistro_lote_moeda_descricao }}</td>
                    <td>{{ sin.id_sinistro_lote_beneficiario }}</td>
                    <td>{{ sin.dt_sinistro_lote_insercao | date: 'dd/MM/yyyy' }}</td>

                    <td>
                      <select class="form-control"
                              (change)="changeCobertura(sin)"
                              style="width: 230px;"
                              *ngIf="sin.coberturaSinistros && sin.coberturaSinistros.length > 0"
                              [(ngModel)]="sin.cobertura.id_cobertura_sinistro">
                        <option [value]="null">
                          Selecione
                        </option>

                        <option [value]="cob.id_cobertura_sinistro"
                                *ngFor="let cob of sin.coberturaSinistros">
                          {{cob.ds_cobertura_sinistro_nome}}
                        </option>
                      </select>
                      
                      <div style="width: 130px;"
                           *ngIf="sin.coberturaSinistros && sin.coberturaSinistros.length == 0">
                        <span>
                          Agu. processamento
                        </span>
                      </div>
                    </td>

                    <td *ngIf="sin.ic_possui_restricoes_pep">Sim</td>
                    <td *ngIf="sin.ic_possui_restricoes_pep === false">Não</td>
                    <td *ngIf="sin.ic_possui_restricoes_pep === null">
                      <div style="width: 115px;">Agu. processamento</div>
                    </td>

                    <td>{{ sin.ic_pagamento_ebao_liberado ? "Sim" : "Não" }}</td>
                    <td>{{ sin.ic_pagamento_ebao_processado ? "Sim" : "Não" }}</td>
                    <td>{{ sin.ic_sinistro_lote_erro ? "Sim" : "Não" }}</td>

                    <td>
                      <div style="width: 100px;">
                        <span>{{ ds_numero_pagamento_ebao ? ds_numero_pagamento_ebao: "-" }}</span>
                      </div>
                    </td>

                    <td>
                      {{ sin.ds_sinistro_lote_mensagem ? sin.ds_sinistro_lote_mensagem : "-" }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br>
          </div>

          <app-pagination 
            [totalRegistros]="totalRegistros"
            [maxSize]="5"
            *ngIf="showPagination">
          </app-pagination>

          <br>
          <div>
            <div class="row">
              <div class="col-sm-3" *ngIf="mostrarEnviarPagamentoEbao()">
                <button
                  class="btn btn-primary btn-green btn-block"                  
                  (click)="enviarPagamentoEbao()">
                  Enviar pagamento eBao
                </button>
              </div>

              <div class="col-sm-3" *ngIf="mostrarReenviarPagamentoEbao()">
                <button
                  class="btn btn-primary btn-green btn-block"                  
                  (click)="enviarPagamentoEbao()">
                  Reenviar pagamento eBao
                </button>
              </div>

              <div class="col-sm-1" *ngIf="sinistros && sinistros.length > 0">
                <a class="btn btn-default" (click)="downloadLog()">
                  <i aria-hidden="true" class="fa fa-download"></i> Log
                </a>
              </div>

              <div class="col-sm-1">
                <a class="btn btn-default" href="/#/pagamentos-sinistro/listar-lotes">
                  Voltar
                </a>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<app-loading
  *ngIf="pesquisandoGif">
</app-loading>