.titulo-sub-lotes {
  color: #00a4e4;
  position: relative;
  font-weight: bold;
  padding-left: 0px !important
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 90%;
  color: #fff;
  border-radius: .25em;
}

.table {
  display: block;
  overflow: auto;
  max-height: 500px;
  white-space: nowrap;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

.ride-info{
  cursor: pointer !important;
}