<div class="row">
  <div class="col-12">
    <nav class="pagination">
      <ul class="pagination justify-content-end">
        <li class="page-item" [class.disabled]="active == 0">
          <a class="page-link" (click)="selectPage(active - 1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
    
        <li class="page-item" *ngFor="let page of allPages">
          <a aria-controls="datatable"
             class="page-link"
             [class.paginaAtual]="active == page"
             (click)="selectPage(page)"> {{ page + 1 }}
          </a>
        </li>
    
        <li class="page-item" [class.disabled]="active == allPages.length -1">
          <a class="page-link" (click)="selectPage(active + 1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>    
  </div>
</div>
