<div class="div-core" id="wrap">
  <div class="ng-scope" ui-view="">
    <div class="row servicos ng-scope">
      <div class="container">
        <header>
            <div class="box-titulo">
              <div class="row">
                  <div class="col-md-12">
                    <h3 class="titulo-produto">Cadastro de Sinistro em Lote</h3>
                    <hr>
                  </div>
              </div>                  
            </div>
        </header>

        <div class="row">
          <div class="col-md-9">                
            <p>Para iniciar o cadastro em lote, envie o arquivo</p>
            <button id="txtDocumento" class="btn btn-default btn-required-anexo"
                    name="file"
                    onclick="document.getElementById('getFile').click()" 
                    ngbTooltip="Selecionar documentos"
                    tooltipClass="tooltipClassGrid" placement="top" required>
              <!-- <i class="material-icons" style="vertical-align: middle;"> attach_file </i> -->
              Enviar arquivo
            </button>
            <input type='file'
                   id="getFile"
                   style="display:none"
                   [(ngModel)]="arquivoInput"
                   uploader="pagamentosSinistroService.uploaderDocsInternos"
              (change)="selecionaDoc($event)">
          </div>

          <div class="col-md-3">
            <a href="src/assets/files/modelo_lote_sinistro.csv">
              <u>
                <i class="fa fa-download" aria-hidden="true"></i>
                Baixar modelo de planilha
              </u>
            </a>
          </div>
        </div>
                
        <div class="row" style="margin-top: 10px" *ngIf="arquivoTela">
          <div class="form-group col-md-4" style="margin-bottom: 30px;">
            <div>
              <ul class="list-group">
                <li class="list-group-item" style="font-weight: bold">Arquivos</li>
                <!---->
                <li class="list-group-item ng-star-inserted">
                  <span placement="top" tooltipclass="tooltipClassGrid">
                    {{ arquivoTela.filename }} ( {{ readableBytes(arquivoTela.size) }} )
                  </span>

                  <a ngbtooltip="Excluir"
                     placement="top"
                     style="margin-right: 15px; cursor: pointer; float: right; color: red;"
                     (click) = "excluirArquivo()"
                     tooltipclass="tooltipClassGrid">
                    <i aria-hidden="true" class="fa fa-trash" style="color: rgb(217, 83, 79);"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="form-group col-md-2" style="margin-top: 35px;">
            <button class="btn btn-primary btn-blue btn-block" 
                    (click)="uploadArquivo()"
                    type="submit"> 
              Enviar
            </button>
          </div>
        </div>

        <h3 class="titulo-sub-lotes col-12">Lotes enviados</h3>
        <div class="panel-heading">
            <div class="row">
              <div class="col-md-12">
                <span class="ride-info documents">{{ totalRegistrosLbl }} Sinistros</span>
              </div>

              <div class="col-md-3" *ngFor="let sts of statusLote" style="margin-top: 5px;">
                <div class="started-triangle" style="margin-right: 5px;" [style.background-color]="sts.ds_lote_status_tela_cor"></div>
                <span class="ride-info" (click)="filterStatus(sts)">
                  {{ sts.status }}:  {{ sts.int_quantidade }}
                </span>              
              </div>
            </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading panel-heading-aig" style="padding: 10px !important;">
            <div class="row">
              <div class="col-md-4 bubble-table">
                <label class="control-label" for="filter">Por favor, selecione um filtro:</label>

                <select id="filtro"
                          name="filtro"
                          class="form-control"
                          (change)="changeFilter()"
                          [(ngModel)]="filtroPrincipal">
                  <option [value]="filtro.cod" *ngFor="let filtro of filtros">{{filtro.nome}}</option>
                </select>
              </div>

              <div class="col-8">
                  <div class="row">
                    <div class="col-md-8" *ngIf="filtroPrincipal == '0'">
                    </div>

                    <div class="col-md-4" *ngIf="filtroPrincipal == 'PER'">
                      <label class="control-label">Data de inicio</label>
                      <input [(ngModel)]="dt_inicio"
                              value="{{ dt_inicio | date:'dd/MM/yyyy' }}" 
                              class="form-control"
                              #drp="bsDatepicker"
                              bsDatepicker
                              [bsConfig]="bsConfig"
                              [ngModelOptions]="{standalone: true}"
                              style="width:195px; height: 34px;"
                              type="text">
                    </div>

                    <div class="col-md-4" *ngIf="filtroPrincipal == 'PER'">
                      <label class="control-label">Data de Término</label>
                      <input [(ngModel)]="dt_fim"
                              value="{{ dt_fim | date:'dd/MM/yyyy' }}" 
                              class="form-control"
                              #drp="bsDatepicker"
                              bsDatepicker
                              [bsConfig]="bsConfig"
                              [ngModelOptions]="{standalone: true}"
                              style="width:195px; height: 34px;"
                              type="text">
                    </div>

                    <div class="col-8" *ngIf="filtroPrincipal == 'USR'">
                      <div class="col-md-12">
                        <label class="control-label">Usuário</label>
                        <input bsdatepicker="" 
                              [(ngModel)]="nomeUsuario"
                              class="form-control"
                              type="text">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <button class="btn btn-process btn-block"
                              style="margin-top: 22.5px;background-color: #E76E1A;border-color: #E76E1A;color: white"
                              (click)="pesquisar(1)">
                        Processar
                      </button>
                    </div>
                  </div>
              </div>              
              
            </div>

          </div>

          <div class="panel-heading" *ngIf="filtroPrincipal != '0'">
            <div class="row">
              <div class="col-md-2"> Filtro selecionado: </div>

              <div>
                <div class="col-12" *ngIf="filtroPrincipal == 'PER'">
                  <b>Data:</b>
                  <span> {{ dt_inicio | date: 'dd/MM/yyyy' }} - {{ dt_fim | date: 'dd/MM/yyyy' }} </span>
                  <!-- <span> {{ dt_inicio }} - {{ dt_fim }} </span> -->
                </div>

                <div class="col-12" *ngIf="filtroPrincipal == 'USR'">
                  <b>Usuário:</b>
                  <span> {{ username }} </span>
                </div>
              </div>

            </div>
            <div class="row">
                <div class="col-12">
                  <a class="ride-info" (click)="inicializarTela()"> 
                    Limpar filtros
                  </a>
                </div>
            </div>
          </div>
          
          <br>
          
          
          <div class="large-screen">
            <div class="table-wrapper">
                <div class="col-md-12"
                  *ngIf="(!lotes || lotes.length == 0) && !pesquisandoGif"
                  style="text-align: center; margin-bottom: 20px; height: 400px;">
                  <h3>Nenhum registro localizado</h3>
                </div>
          
                <table class="table" *ngIf="lotes && lotes.length > 0">
                  <thead>
                      <tr>
                        <th width="10%">
                          <div (click)="ordenarResultado('ds_lote_nome_arquivo')" style="cursor: pointer;">
                            Arquivo
                            <span *ngIf="sortType == 'ds_lote_nome_arquivo' && sortReverse" class="fa fa-caret-down" style="color: #de4b39"></span>
                            <span *ngIf="sortType == 'ds_lote_nome_arquivo' && !sortReverse" class="fa fa-caret-up" style="color: #6bd486;"></span>
                            <span *ngIf="sortType != 'ds_lote_nome_arquivo'" class="fa fa-caret-down" style="color: #666;"></span>
                          </div>
                        </th>
          
                        <th width="15%">
                          <div (click)="ordenarResultado('dt_lote_insercao')" style="cursor: pointer;">
                            Data Envio
                            <span *ngIf="sortType == 'dt_lote_insercao' && sortReverse" class="fa fa-caret-down" style="color: #de4b39"></span>
                            <span *ngIf="sortType == 'dt_lote_insercao' && !sortReverse" class="fa fa-caret-up" style="color: #6bd486;"></span>
                            <span *ngIf="sortType != 'dt_lote_insercao'" class="fa fa-caret-down" style="color: #666;"></span>
                          </div>
                        </th>
          
                        <th width="10%">
                          <div (click)="ordenarResultado('ds_nome_usuario')" style="cursor: pointer;">
                            Usuário
                            <span *ngIf="sortType == 'ds_nome_usuario' && sortReverse" class="fa fa-caret-down" style="color: #de4b39"></span>
                            <span *ngIf="sortType == 'ds_nome_usuario' && !sortReverse" class="fa fa-caret-up" style="color: #6bd486;"></span>
                            <span *ngIf="sortType != 'ds_nome_usuario'" class="fa fa-caret-down" style="color: #666;"></span>
                          </div>
                        </th>
          
                        <th width="5%">Enviados</th>
                        <th width="5%">Classificados</th>
                        <th width="5%">Processados</th>
                        <th width="5%">Erros</th>                        
          
                        <th width="30%">
                          <div (click)="ordenarResultado('ds_lote_status')" style="cursor: pointer;">
                            Status
                            <span *ngIf="sortType == 'ds_lote_status' && sortReverse" class="fa fa-caret-down" style="color: #de4b39"></span>
                            <span *ngIf="sortType == 'ds_lote_status' && !sortReverse" class="fa fa-caret-up" style="color: #6bd486;"></span>
                            <span *ngIf="sortType != 'ds_lote_status'" class="fa fa-caret-down" style="color: #666;"></span>
                          </div>
                        </th>
          
                        <th width="20%"></th>
                      </tr>
                  </thead>
          
                  <tbody style="font-size:12px">
                      <tr *ngFor="let lote of lotes" style="70px">
                        <td style="white-space: nowrap;
                                   overflow: hidden;
                                   text-overflow: ellipsis;">
                          <span container="body"
                                placement="top"
                                tooltipclass="tooltipClassGrid"
                                ngbTooltip="{{ lote.ds_lote_nome_arquivo }}">
                            {{ lote.ds_lote_nome_arquivo && lote.ds_lote_nome_arquivo.length > 15 ? (lote.ds_lote_nome_arquivo | slice:0:15) : lote.ds_lote_nome_arquivo }}
                          </span>
                        </td>
          
                        <td style="white-space: nowrap;
                                   overflow: hidden;
                                   text-overflow: ellipsis;">
                          <span container="body"
                                  placement="top"
                                  tooltipclass="tooltipClassGrid"
                                  ngbTooltip="{{ lote.dt_lote_insercao | date: 'dd/MM/yyyy hh:mm'}}">
                            {{ lote.dt_lote_insercao | date: 'dd/MM/yyyy'}}
                          </span>
                        </td>
          
                        <td style="white-space: nowrap;
                                   overflow: hidden;
                                   text-overflow: ellipsis;">
                          <span container="body"
                                placement="top"
                                ngbTooltip="{{ lote.ds_nome_usuario }}"
                                tooltipclass="tooltipClassGrid">
                            {{ lote.ds_nome_usuario && lote.ds_nome_usuario.length > 15 ? (lote.ds_nome_usuario | slice:0:15) : lote.ds_nome_usuario }}
                          </span>
                        </td>
          
                        <td>
                          {{ lote.totaisSinistrosLote ? lote.totaisSinistrosLote.int_quantidade_sinistros_enviados : 0}}
                        </td>
                        
                        <td>
                          {{ lote.totaisSinistrosLote ? lote.totaisSinistrosLote.int_quantidade_sinistros_classificados : 0}}
                        </td>
                        
                        <td>
                          {{ lote.totaisSinistrosLote ? lote.totaisSinistrosLote.int_quantidade_sinistros_processados : 0}}
                        </td>
                        
                        <td>
                          {{ lote.totaisSinistrosLote ? lote.totaisSinistrosLote.int_quantidade_sinistros_erro : 0}}
                        </td>
                        
                        <td>
                          <div class="row">
                            <div class="col-12">
                              <div style="padding-bottom: 5px">
                                <span class="label" [style.background-color] = "lote.ds_lote_status_cor"> {{ lote.ds_lote_status }} </span>
                              </div>

                              <div>
                                <span class="label"
                                  *ngIf="lote.ds_lote_status != lote.ds_lote_sub_status"
                                  [style.background-color] = "lote.ds_lote_sub_status_cor">
                                  {{ lote.ds_lote_sub_status }}
                                </span>
                              </div>
                            </div>
                          </div>
                        </td>
          
                        <td class="col-md-3">                          
                          <a container="body"
                             ngbTooltip="Download lote"
                             placement="top"
                             (click)="downloadLote(lote)"
                             class="ride-info"
                             style="margin-right: 10px; color:#00a3e4;"
                             tooltipclass="tooltipClassGrid">
                            <i aria-hidden="true" class="fa fa-download"></i>
                          </a>
                          
                          <span>
                            <a container="body"
                              ngbTooltip="Classificar"
                              placement="top"
                              style="color:#00a3e4;margin-right: 15px; cursor: pointer;"
                              (click)="detalhesLote(lote.id_lote)"
                              class="ride-info"
                              *ngIf="showEditButon(lote.ds_lote_status)"
                              tooltipclass="tooltipClassGrid">
                              <i aria-hidden="true" class="fa fa-edit"></i>
                            </a>
                          </span>
                          
                          <span>
                            <a container="body"
                              placement="top"
                              style="color:#00a3e4;margin-right: 15px; cursor: pointer;"
                              *ngIf="showVisionButon(lote.ds_lote_status)"
                              (click)="detalhesLote(lote.id_lote)"
                              class="ride-info"
                              ngbTooltip="Visualizar"
                              tooltipclass="tooltipClassGrid">
                              <i aria-hidden="true" class="fa fa-eye fa-lg"></i>
                            </a>
                          </span>
                        </td>
                      </tr>                      
                  </tbody>
                </table>
                <!----><!---->
            </div>
            <!---->
            <app-pagination 
              [totalRegistros]="totalRegistros"
              [maxSize]="5"
              *ngIf="showPagination">
            </app-pagination>
          </div>   


        </div>
      </div>
    </div>
    <!---->
  </div>
</div>

<app-loading
  *ngIf="pesquisandoGif">
</app-loading>