.titulo-sub-lotes {
  color: #00a4e4;
  position: relative;
  font-weight: bold;
  padding-left: 0px !important
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #ddf2fb;
}

a {
  color: #00a3e4 !important;
  /* color: #00a3e4; */
}

.large-screen .card-list-table thead th {
  padding: 12px 6px !important;
}

.started-triangle{
  margin-right: 5px;
  background: #0057b8;
  position: relative;
  display: inline;
  padding: 1px 8px;
  color: #fff;
  font-weight: 700;
}

.panel-heading-aig {
  border-radius: 0;
  background: linear-gradient(to right,#00729f 0,#00729f 34%,#000 34%,#00a4e4 34%,#00a4e4 100%)!important;
  color: #fff!important;
}

.table-wrapper {
  padding: 15px 25px;
  margin: 0 auto;
  max-height: 500px;
  overflow-y: scroll;
  position: relative;
  transition: all .2s ease-out;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 90%;
  color: #fff;
  border-radius: .25em;
}

.ride-info{
  cursor: pointer !important;
}