@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.paginaAtual {
  color: #ffffff !important;
  background-color: #337ab7 !important;
  border-color: #cccccc !important;
}

.multiselect-dropdown {
  background-color: #ffffff !important;
  color: #555 !important;
  position: relative;
  width: 100%;
  font-size: inherit;
  font-family: 'AIG_Futura' !important;
}

.multiselect-dropdown .dropdown-btn {
  display: inline-block;
  border: 1px solid #ccc !important;
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.52857143;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 0px;
}

.multiselect-dropdown .dropdown-btn .selected-item {
  border: 1px solid #ccc !important;
  margin-right: 4px;
  background: #337ab7 !important;
  padding: 0 5px;
  color: #fff !important;
  border-radius: 0px;
  float: left
}

.multiselect-dropdown .dropdown-btn .selected-item a {
  text-decoration: none
}

.multiselect-dropdown .dropdown-btn .selected-item:hover {
  box-shadow: 1px 1px #959595 !important
}

.multiselect-dropdown .dropdown-btn .dropdown-down {
  display: inline-block;
  top: 8px;
  width: 0;
  height: 0;
  border-top: 8px solid #ccc !important;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent
}

.multiselect-dropdown .dropdown-btn .dropdown-up {
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 8px solid #ccc !important;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent
}

.multiselect-dropdown .disabled>span {
  background-color: #eceeef !important
}

.dropdown-list {
  position: absolute;
  padding-top: 6px;
  width: 100%;
  z-index: 9999;
  border: 1px solid #ccc !important;
  background: #fff !important;
  margin-top: 10px;
  box-shadow: 0 1px 5px #959595 !important
}

.dropdown-list ul {
  padding: 0;
  list-style: none;
  overflow: auto;
  margin: 0
}

.dropdown-list li {
  padding: 6px 10px;
  cursor: pointer;
  text-align: left
}

.dropdown-list .filter-textbox {
  background: #fff !important;
  border-bottom: 1px solid #ccc !important;
  position: relative;
  padding: 10px
}

.dropdown-list .filter-textbox input {
  border: 0;
  width: 100%;
  padding: 0 0 0 26px
}

.dropdown-list .filter-textbox input:focus {
  outline: 0
}

.multiselect-item-checkbox input[type=checkbox] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}

.multiselect-item-checkbox input[type=checkbox]:focus+div:before,
.multiselect-item-checkbox input[type=checkbox]:hover+div:before {
  border-color: #FFFFFF !important;
  background-color: #f2f2f2 !important
}

.multiselect-item-checkbox input[type=checkbox]:active+div:before {
  transition-duration: 0s
}

.multiselect-item-checkbox input[type=checkbox]+div {
  position: relative;
  padding-left: 2em;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  margin: 0;
  color: #000 !important
}

.multiselect-item-checkbox input[type=checkbox]+div:before {
  box-sizing: content-box;
  content: '';
  color: #FFFFFF !important;
  position: absolute;
  top: 50%;
  left: 0;
  width: 13px;
  height: 13px;
  margin-top: -9px;
  border: 2px solid #FFFFFF !important;
  text-align: center;
  transition: all .4s ease
}

.multiselect-item-checkbox input[type=checkbox]+div:after {
  box-sizing: content-box;
  content: '';
  position: absolute;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out;
  background-color: transparent;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 3px;
  margin-top: -4px;
  border-style: solid;
  border-color: #fff !important;
  border-width: 0 0 3px 3px;
  -o-border-image: none;
  border-image: none;
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0)
}

.multiselect-item-checkbox input[type=checkbox]:disabled+div:before {
  border-color: #ccc !important
}

.multiselect-item-checkbox input[type=checkbox]:disabled:focus+div:before .multiselect-item-checkbox input[type=checkbox]:disabled:hover+div:before {
  background-color: inherit
}

.multiselect-item-checkbox input[type=checkbox]:disabled:checked+div:before {
  background-color: #ccc !important
}

.multiselect-item-checkbox input[type=checkbox]:checked+div:after {
  content: '';
  transition: -webkit-transform .0s ease-out !important;
  transition: transform .0s ease-out !important;
  transition: transform .0s ease-out, -webkit-transform .0s ease-out !important;
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1)
}

.multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  -webkit-animation: .0s ease-in borderscale !important;
  animation: .0s ease-in borderscale !important;
  background: #337ab7 !important
}

@-webkit-keyframes borderscale {
  50% {
    box-shadow: 0 0 0 2px #FFFFFF !important
  }
}

@keyframes borderscale {
  50% {
    box-shadow: 0 0 0 2px #FFFFFF !important
  }
}

pagination-controls {
  position: relative;
  top: 20px;
  left: -50px;
  font-size: 14px;
}

.tooltipClassGrid .tooltip-inner {
  background-color: #2199e8;
  font-size: 150%;
}

.tooltipClassGrid .arrow::before {
  border-top-color: #2199e8;
}

.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #2199e8;
  color: #fefefe;
  cursor: default;
  background-color: #337ab7 !important;
  border-color: #337ab7 !important;
}

.ngx-pagination .current span {
  padding-top: 220px;
  top: 5px;
  position: relative;
}

.ngx-pagination li {
  width: 35px;
  height: 35px;
  text-align: center;

  border-bottom: 1px solid;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-color: #d6e3c1;
}

.ngx-pagination li a span {
  top: 5px;
  position: relative;
  color: #337ab7 !important;
}

.img-thumbnail,
body {
  background-color: #fff;
}

html {
  font-family: 'AIG_Futura' !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
.contentLoader {
  box-sizing: border-box;
}

a {
  background-color: transparent;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

dl,
ol,
ul {
  margin-top: 0px;
}

ol,
ul {
  margin-bottom: 10px;
}

.breadcrumb>li,
.pagination {
  display: inline-block;
}

.pagination {
  padding-left: 0px;
  margin: 20px 0;
  border-radius: 4px;
}

.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.container,
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

.btn-group-vertical>.btn-group::after,
.btn-group-vertical>.btn-group::before,
.btn-toolbar::after,
.btn-toolbar::before,
.clearfix::after,
.clearfix::before,
.container-fluid::after,
.container-fluid::before,
.container::after,
.container::before,
.dl-horizontal dd::after,
.dl-horizontal dd::before,
.form-horizontal .form-group::after,
.form-horizontal .form-group::before,
.modal-footer::after,
.modal-footer::before,
.nav::after,
.nav::before,
.navbar-collapse::after,
.navbar-collapse::before,
.navbar-header::after,
.navbar-header::before,
.navbar::after,
.navbar::before,
.pager::after,
.pager::before,
.panel-body::after,
.panel-body::before,
.row::after,
.row::before {
  display: table;
  content: " ";
}

.btn-group-vertical>.btn-group::after,
.btn-toolbar::after,
.clearfix::after,
.container-fluid::after,
.container::after,
.dl-horizontal dd::after,
.form-horizontal .form-group::after,
.modal-footer::after,
.nav::after,
.navbar-collapse::after,
.navbar-header::after,
.navbar::after,
.pager::after,
.panel-body::after,
.row::after {
  clear: both;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -215px;
  padding: 0 0 215px;
}

.form-control {
  font-size: 1.2rem !important;
}

body {
  font-size: 13px !important;
  line-height: 1.4285;
  color: #333;
  font-family: AIG_Futura !important;
  height: 100%;
  margin: 0;
  border: none;
  color: #333333;
  font-style: normal !important;
}

html {
  font-size: 10px;
  height: 100%;
  margin: 0;
  border: none;
}

#navbar .dropdown-menu,
.dropdown-toggle .dropdown-menu,
.dropup.input-group .dropdown-menu,
body,
html {
  padding: 0;
}

.select2-results,
html {
  -webkit-tap-highlight-color: transparent;
}

.pager li,
.pagination>li {
  display: inline;
}

a,
footer ul li a {
  text-decoration: none;
}

a {
  /*color: #00a3e4 !important;*/
  color: #00a3e4;
}

a:focus,
a:hover {
  text-decoration: none;
}

.pagination>li>a,
.pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.4285;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

a:focus,
a:hover {
  color: #4287ff !important;
}

a:focus {
  outline: dotted thin;
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
  margin-left: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}


@font-face {
  font-family: 'AIG_Futura';
  src: url('assets/fonts/FuturaAIG-Light.ttf') format('truetype'),
       url('assets/fonts/FuturaAIG-Light.eot') format('truetype');
}

.img-thumbnail,
body {
  background-color: #fff;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button,
select {
  text-transform: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

h1 {
  margin: .67em 0;
}

*,
.contentLoader {
  box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

/* @media all and (min-width:768px) */
.container {
  width: 750px;
}

.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.container,
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

/* @media all and (min-width:992px) */
.container {
  width: 970px;
}

/* @media all and (min-width:1200px) */
.container {
  width: 1170px;
}

.container {
  width: 970px !important;
}

.box-numeros,
.row-centered,
.text-centered {
  text-align: center;
}

.panel-body {
  padding: 15px;
}

.btn-group-vertical>.btn-group::after,
.btn-group-vertical>.btn-group::before,
.btn-toolbar::after,
.btn-toolbar::before,
.clearfix::after,
.clearfix::before,
.container-fluid::after,
.container-fluid::before,
.container::after,
.container::before,
.dl-horizontal dd::after,
.dl-horizontal dd::before,
.form-horizontal .form-group::after,
.form-horizontal .form-group::before,
.modal-footer::after,
.modal-footer::before,
.nav::after,
.nav::before,
.navbar-collapse::after,
.navbar-collapse::before,
.navbar-header::after,
.navbar-header::before,
.navbar::after,
.navbar::before,
.pager::after,
.pager::before,
.panel-body::after,
.panel-body::before,
.row::after,
.row::before {
  display: table;
  content: " ";
}

.btn-group-vertical>.btn-group::after,
.btn-toolbar::after,
.clearfix::after,
.container-fluid::after,
.container::after,
.dl-horizontal dd::after,
.form-horizontal .form-group::after,
.modal-footer::after,
.nav::after,
.navbar-collapse::after,
.navbar-header::after,
.navbar::after,
.pager::after,
.panel-body::after,
.row::after {
  clear: both;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -215px;
  padding: 0 0 215px;
}

html {
  font-size: 10px;
}

#navbar .dropdown-menu,
.dropdown-toggle .dropdown-menu,
.dropup.input-group .dropdown-menu,
body,
html {
  padding: 0;
}

.select2-results,
html {
  -webkit-tap-highlight-color: transparent;
}

.toast-top-right {
  top: 12px;
  right: 12px;
}

#toast-container {
  position: fixed;
  z-index: 999999;
  pointer-events: auto;
}

.close,
.loader-container,
.table-cobertura-vida>tbody>tr:last-child,
.text-bold,
.h1.text-bold,
.h2.text-bold,
.h3.text-bold,
.h4.text-bold,
.h5.text-bold,
.h6.text-bold {
  font-weight: 700;
}

#chat-icon,
.loader-container,
.texto-centralizado {
  text-align: center;
}

.loader-container {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 9999;
}

/* @media all and (min-width:768px) */
.col-sm-2 {
  width: 16.66%;
}

dl,
ol,
ul {
  margin-top: 0px;
}

ol,
ul {
  margin-bottom: 10px;
}

/* [ng:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, :not(.ng-hide-animate).ng-hide {
	display: none !important;
} */
.msg-sob-consulta {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0;
  z-index: 999;
}

.btn-group>.btn-group,
.btn-toolbar .btn-group,
.btn-toolbar .input-group,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.dropdown-menu {
  float: left;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/* @media all and (min-width:768px) */
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9 {
  float: left;
}

/* @media all and (min-width:768px) */
.col-sm-12 {
  width: 100%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.h3,
h3 {
  font-size: 24px;
}

.panel {
  /* margin-bottom: 20px; */
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-default {
  border-color: #ddd;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #DDF2FB;
  border-color: #ddd;
}

/* @media all and (min-width:768px) */
.col-sm-3 {
  width: 25%;
}

/* @media all and (min-width:768px) */
.col-sm-1 {
  width: 8.33%;
}

a,
footer ul li a {
  text-decoration: none;
}

a {
  color: #00a3e4;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.btn,
.rzslider {
  -ms-user-select: none;
}

.btn,
.btn-group,
.btn-group-vertical,
.caret,
.checkbox label,
.checkbox-inline,
.radio label,
.radio-inline,
.rz-vertical.rzslider .rz-tick,
img {
  vertical-align: middle;
}

.btn,
.active.btn-danger,
.btn-danger:active,
.active.btn-default,
.btn-default:active,
.active.btn-info,
.btn-info:active,
.active.btn-primary,
.btn-primary:active,
.active.btn-warning,
.btn-warning:active,
.active.btn,
.btn:active,
.dropdown-menu>.disabled>a:focus,
.dropdown-menu>.disabled>a:hover,
.form-control,
.navbar-toggle,
.open>.btn-danger.dropdown-toggle,
.open>.btn-default.dropdown-toggle,
.open>.btn-info.dropdown-toggle,
.open>.btn-primary.dropdown-toggle,
.open>.btn-warning.dropdown-toggle {
  background-image: none;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-weight: 400;
  line-height: 1.4285;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-process {
  background-color: #E76E1A;
  border: 0;
  height: 34px;
}

.initialism,
.text-upper {
  text-transform: uppercase;
}

.form-control,
output {
  font-size: 14px;
  line-height: 1.4285;
  color: #555;
  display: block;
}

.form-control {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn,
input.form-control {
  border-radius: 0 !important;
}

button {
  overflow: visible;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-green {
  background-color: #00AAB9;
  border-color: #00AAB9;
}

.btn-blue {
  background-color: #00A4E4;
  border-color: #00A4E4;
  color: #fff;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

.disabled.btn,
[disabled].btn,
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.65;
}

.disabled.btn-success,
.active.disabled.btn-success,
.focus.disabled.btn-success,
.disabled.btn-success:active,
.disabled.btn-success:focus,
.disabled.btn-success:hover,
[disabled].btn-success,
[disabled].active.btn-success,
[disabled].focus.btn-success,
[disabled].btn-success:active,
[disabled].btn-success:focus,
[disabled].btn-success:hover,
fieldset[disabled] .btn-success,
fieldset[disabled] .active.btn-success,
fieldset[disabled] .focus.btn-success,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:hover {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-primary {
  background-color: #00a3e4;
  border-color: #00a3e4;
}

.disabled.btn-primary,
.active.disabled.btn-primary,
.focus.disabled.btn-primary,
.disabled.btn-primary:active,
.disabled.btn-primary:focus,
.disabled.btn-primary:hover,
[disabled].btn-primary,
[disabled].active.btn-primary,
[disabled].focus.btn-primary,
[disabled].btn-primary:active,
[disabled].btn-primary:focus,
[disabled].btn-primary:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .active.btn-primary,
fieldset[disabled] .focus.btn-primary,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: #337ab7;
  border-color: #2e6da4;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

p {
  margin: 0 0 10px;
}

pre code,
table {
  background-color: transparent;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table-plans {
  border-collapse: separate !important;
  border-spacing: 20px 0 !important;
  color: #666;
  font-size: 12px;
}

.text-center {
  text-align: center;
}

.price_table_heading {
  font-size: 21px;
  padding: 10px;
  background: #EEE;
}

.table-plans td,
.table-plans th {
  border-top: none !important;
}

.table-striped>tbody>tr:nth-of-type(2n+1) {
  background-color: #f9f9f9;
}

/* @media all and (min-width:768px) */
.col-sm-6 {
  width: 50%;
}

.form-group {
  margin-bottom: 15px;
}

dt,
kbd kbd,
label {
  font-weight: 700;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}


.label-default {
  background-color: #777
}

.label-default[href]:focus,
.label-default[href]:hover {
  background-color: #5e5e5e
}

.label-primary {
  background-color: #337ab7
}

.label-primary[href]:focus,
.label-primary[href]:hover {
  background-color: #286090
}

.label-success {
  background-color: #5cb85c;
}

.label-success[href]:focus,
.label-success[href]:hover {
  background-color: #449d44;
  min-width: 150px;
}

.label-info {
  background-color: #5bc0de
}

.label-info[href]:focus,
.label-info[href]:hover {
  background-color: #31b0d5
}

.label-warning {
  background-color: #f0ad4e
}

.label-warning[href]:focus,
.label-warning[href]:hover {
  background-color: #ec971f
}

.label-danger {
  background-color: #d9534f
}

.label-danger[href]:focus,
.label-danger[href]:hover {
  background-color: #c9302c
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.h5,
h5 {
  font-size: 14px;
}

.box,
.form-divide {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.form-divide,
.form-divide-text {
  margin-bottom: 15px;
  margin-top: 20px;
  font-size: 14pt;
  padding-bottom: 15px;
  color: #00a4e4;
}

.form-divide {
  border: 5px solid transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.control-label {
  font-weight: 400 !important;
}

.checkbox label,
.rzslider,
.rzslider span {
  display: inline-block;
}

.rzslider {
  position: relative;
  width: 100%;
  height: 4px;
  margin: 35px 0 15px;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.rzslider span {
  position: absolute;
  white-space: nowrap;
}

.rzslider .rz-bar-wrapper {
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 32px;
  padding-top: 16px;
  margin-top: -16px;
  box-sizing: border-box;
}

.rzslider .rz-pointer {
  top: -14px;
  z-index: 3;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: #0db9f0;
  border-radius: 16px;
}

.rzslider .rz-pointer::after {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 4px;
  content: "";
}

.rzslider .rz-bubble {
  bottom: 16px;
  padding: 1px 3px;
  color: #55637d;
  cursor: default;
}

.rzslider .rz-limit.rz-bubble {
  color: #55637d;
}

.rzslider .rz-ticks {
  position: absolute;
  top: -3px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 0px;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.rzslider .rz-bar {
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 4px;
  background: #d8e0f3;
  border-radius: 2px;
}

.rzslider .rz-selection {
  z-index: 2;
  background: #0db9f0;
  border-radius: 2px;
}

.rzslider .rz-right-out-selection.rz-bar-wrapper .rz-bar {
  background: #03a688;
}

.rzslider .rz-left-out-selection.rz-bar-wrapper .rz-bar {
  background: #df002d;
}

.required.form-group div {
  position: relative;
}

.required.form-group div::after {
  position: absolute;
  content: "*";
  font-size: 20px;
  color: #b40f77;
  right: -10px;
  top: 0px;
}

:-ms-input-placeholder.form-control {
  color: #999;
}

[disabled].form-control,
[readonly].form-control,
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}

[disabled].form-control,
fieldset[disabled] .form-control {
  cursor: not-allowed;
}

.col-xs-12 {
  width: 100%;
}

.h1,
h1 {
  font-size: 36px;
}

.loader-inner {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  padding: 15px;
  background: #def2fa;
  border: 1px solid #aad5e6;
  border-radius: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.loader-icon,
.sinistro-icon {
  background-position: top center;
  background-repeat: no-repeat;
}

.loader-icon {
  background-image: url(assets/img/loading.gif);
  background-size: 100px;
  height: 150px;
}

.loader-msg {
  position: relative;
  bottom: 60px;
  color: #000;
}

@media all and (max-width:992px) {
  .container {
    width: 100% !important;
  }
}

.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.container,
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

.checkbox label,
.rzslider,
.rzslider span {
  display: inline-block;
}

.btn,
.btn-group,
.btn-group-vertical,
.caret,
.checkbox label,
.checkbox-inline,
.radio label,
.radio-inline,
.rz-vertical.rzslider .rz-tick,
img {
  vertical-align: middle;
}

.checkbox label {
  position: relative;
}

.checkbox label,
.radio label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0px;
  font-weight: 400;
  cursor: pointer;
}

.checkbox label::after,
.checkbox label::before {
  position: absolute;
  margin-left: -20px;
  display: inline-block;
  left: 0px;
}

/*.checkbox label::before {
	content: "";
	width: 17px;
	height: 17px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #fff;
	-webkit-transition: border .15s ease-in-out, color .15s ease-in-out;
	-o-transition: border .15s ease-in-out, color .15s ease-in-out;
	transition: border .15s ease-in-out, color .15s ease-in-out;
}*/
.checkbox label::after {
  width: 16px;
  height: 16px;
  top: 0px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555;
}

.checkbox input[type=checkbox]:disabled+label,
.checkbox input[type=radio]:disabled+label {
  opacity: 0.65;
}

.checkbox input[type=checkbox]:disabled+label::before,
.checkbox input[type=radio]:disabled+label::before {
  background-color: #eee;
  cursor: not-allowed;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.btn,
.rzslider {
  -ms-user-select: none;
}

.btn,
.btn-group,
.btn-group-vertical,
.caret,
.checkbox label,
.checkbox-inline,
.radio label,
.radio-inline,
.rz-vertical.rzslider .rz-tick,
img {
  vertical-align: middle;
}

.btn,
.active.btn-danger,
.btn-danger:active,
.active.btn-default,
.btn-default:active,
.active.btn-info,
.btn-info:active,
.active.btn-primary,
.btn-primary:active,
.active.btn-warning,
.btn-warning:active,
.active.btn,
.btn:active,
.dropdown-menu>.disabled>a:focus,
.dropdown-menu>.disabled>a:hover,
.form-control,
.navbar-toggle,
.open>.btn-danger.dropdown-toggle,
.open>.btn-default.dropdown-toggle,
.open>.btn-info.dropdown-toggle,
.open>.btn-primary.dropdown-toggle,
.open>.btn-warning.dropdown-toggle {
  background-image: none;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 1.4285;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
}

.btn-primary {
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn,
input.form-control {
  border-radius: 0 !important;
}

.btn-primary {
  background-color: #00a3e4;
  border-color: #00a3e4;
}

.btn-green {
  background-color: #00AAB9 !important;
  border-color: #00AAB9 !important;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

.disabled.btn,
[disabled].btn,
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.65;
}

.disabled.btn-primary,
.active.disabled.btn-primary,
.focus.disabled.btn-primary,
.disabled.btn-primary:active,
.disabled.btn-primary:focus,
.disabled.btn-primary:hover,
[disabled].btn-primary,
[disabled].active.btn-primary,
[disabled].focus.btn-primary,
[disabled].btn-primary:active,
[disabled].btn-primary:focus,
[disabled].btn-primary:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .active.btn-primary,
fieldset[disabled] .focus.btn-primary,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: #337ab7;
  border-color: #2e6da4;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.h4,
h4 {
  font-size: 18px;
}

.btn-group-vertical>.btn-group::after,
.btn-group-vertical>.btn-group::before,
.btn-toolbar::after,
.btn-toolbar::before,
.clearfix::after,
.clearfix::before,
.container-fluid::after,
.container-fluid::before,
.container::after,
.container::before,
.dl-horizontal dd::after,
.dl-horizontal dd::before,
.form-horizontal .form-group::after,
.form-horizontal .form-group::before,
.modal-footer::after,
.modal-footer::before,
.nav::after,
.nav::before,
.navbar-collapse::after,
.navbar-collapse::before,
.navbar-header::after,
.navbar-header::before,
.navbar::after,
.navbar::before,
.pager::after,
.pager::before,
.panel-body::after,
.panel-body::before,
.row::after,
.row::before {
  display: table;
  content: " ";
}

.btn-group-vertical>.btn-group::after,
.btn-toolbar::after,
.clearfix::after,
.container-fluid::after,
.container::after,
.dl-horizontal dd::after,
.form-horizontal .form-group::after,
.modal-footer::after,
.nav::after,
.navbar-collapse::after,
.navbar-header::after,
.navbar::after,
.pager::after,
.panel-body::after,
.row::after {
  clear: both;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.btn,
.rzslider {
  -ms-user-select: none;
}

.btn,
.btn-group,
.btn-group-vertical,
.caret,
.checkbox label,
.checkbox-inline,
.radio label,
.radio-inline,
.rz-vertical.rzslider .rz-tick,
img {
  vertical-align: middle;
}

.btn,
.active.btn-danger,
.btn-danger:active,
.active.btn-default,
.btn-default:active,
.active.btn-info,
.btn-info:active,
.active.btn-primary,
.btn-primary:active,
.active.btn-warning,
.btn-warning:active,
.active.btn,
.btn:active,
.dropdown-menu>.disabled>a:focus,
.dropdown-menu>.disabled>a:hover,
.form-control,
.navbar-toggle,
.open>.btn-danger.dropdown-toggle,
.open>.btn-default.dropdown-toggle,
.open>.btn-info.dropdown-toggle,
.open>.btn-primary.dropdown-toggle,
.open>.btn-warning.dropdown-toggle {
  background-image: none;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn,
input.form-control {
  border-radius: 0 !important;
}

p {
  margin: 0 0 10px;
}

.close {
  filter: alpha(opacity=20);
}

html {
  font-size: 10px;
}

#navbar .dropdown-menu,
.dropdown-toggle .dropdown-menu,
.dropup.input-group .dropdown-menu,
body,
html {
  padding: 0;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.modal-header {
  background-color: #dff2fa;
  color: #000;
}

.modal-header {
  min-height: 16.43px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

/* Criando padrao de titulo para as paginas - Gabriel Beltrame Silva */

.bold,
.titulo-produto {
  font-weight: 700;
}

.titulo-produto {
  font-size: 30px;
  color: #00a4e4;
  position: relative;
}

.box-titulo h3 {
  margin-top: 30px !important;
  margin-bottom: 23px !important;
}

.produto header hr,
.servicos header hr {
  display: block;
  width: 100%;
  border-top: 0;
  border-bottom: 3px solid #00a4e4 !important;
  margin-bottom: 25px !important;
}

.fa {
  color: #00a4e4;
}

.theme-dark-blue .bs-datepicker-head .bs-datepicker-body {
  background-color: #00729f !important;
}

.situacao {
  margin-right: 5px;
  margin-top: 5px;
}

div.ng-invalid-validated,
input.ng-invalid-validated,
select.ng-invalid-validated,
textarea.ng-invalid-validated {
  border: 1px solid red;
}

input[type=radio].ng-invalid-validated {
  border: 1px solid red;
  outline-color: red;
  outline-style: solid;
  outline-width: thin;
}

.label-info {
  background-color: transparent !important;
}

.alert-sob-consulta {
  background-color: #FFFBCF !important;
  border: 1px solid #A25D25 !important;
  color: #4A4A49 !important;
}

.btn-aig-light {
  background-color: transparent;
  padding: 1rem 1.5rem;
  border: 1px solid #D1D0CE !important;
}

/* -a porque é para simular link */
.btn-aig-light-a { 
  background-color: transparent;
  padding: 1rem 1.5rem;
  border: 0 solid transparent !important;
  color: #0057B8;
}

.btn-aig-primary {
  background-color: #00A4E4;
  color: #FFFFFF;
  border-color: #00A4E4;
  padding: .5rem;
  margin: 1.2rem .5rem 1.2rem 0;
}

.btn-aig-third {
  background-color: #00AAB9;
  color: #FFFFFF;
  border-color: #00AAB9;
  padding: .5rem;
  margin: 1.2rem .5rem 1.2rem 0;
}

.btn-aig-danger {
  background-color: #E03C31;
  color: #FFFFFF;
  border-color: #E03C31;
  padding: .5rem;
  margin: 1.2rem .5rem 1.2rem 0;
}


@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto;
  }
}

/* Retira as setas nos inputs de numeros */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.iframe {
  border-width: inherit;
  height: 1000px;
  width: 1000px;
}

.margin-left-10 {
  margin-left: 10px;
}

.icon-excluir
{
  width: 23px;
  height: 23px;
  vertical-align: top;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }


.material-icons {
  font-family: ‘Material Icons’;
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: ‘liga’;
}
